*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica;
}
.header{
    overflow: hidden;
    min-height: 50px;
    border-bottom: 4px solid orange;   
}
.container{
    width: 90%;
    margin: auto;
}
.branding{
    float: left;
    padding: 10px 20px 10px 20px;
}
ul.nav-ul{
    float:right;
    text-decoration: none;
    padding:18px 20px 15px 20px;
}
li{
    display: inline;
    padding: 0 10px 0 10px;
}
.profile{
    height: 550px;
    background: url("./img/back3.jpg") no-repeat center; 
}
.footer{
    height: 112px;
}
.footer ul{
    text-align: center;
    padding:22px 0 22px 0;
}
